<!DOCTYPE html>
<html lang="en">

<head>
    <title>WOODTEX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./controller.js"></script>
</head>

<body>
    <div ng-app="InsideMapsWoodtex">
        <div ng-controller="MainCtrl">
            <br><br>
            <div class="container" style="overflow-x:auto;">
                <table class="table-responsive header-social-search">
                    <tr>
                        <td rowspan="2"><img src="./img/logo-black.png" width="250" height="auto"></img>
                        </td>
                        <td>
                            <span>CALL US at 886-InsideMaps</span>
                            <p>|</p>
                            <p>
                                <a target="_blank" href="https://twitter.com" class="icon fa fa-twitter"></a>
                            </p>
                            <p>
                                <a target="_blank" href="https://facebook.com" class="icon fa fa-facebook"></a>
                            </p>
                            <p>
                                <a target="_blank" href="https://youtube.com" class="icon fa fa-youtube"></a>
                            </p>
                            <p>
                                <a target="_blank" href="https://pinterest.com" class="icon fa fa-pinterest"></a>
                            </p>
                        </td>
                        <td class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" class="form-control" placeholder="Search"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 20px 0">
                            <a>&nbsp;</a>
                            <a>STRUCTURES</a>
                            <a>WHY INSIDEMAPS</a>
                            <a>WHERE TO BUY</a>
                            <a>HOW IT WORKS</a>
                            <a>CONTACT</a>
                            <a>BLOG</a>
                            <a>&nbsp;</a>
                        </td>
                    </tr>
                </table>
            </div><br><br><br>
            <aside>
                <ul id="social_side_links">
                  <li><a style="background-color: #3c5a96;" href="#" class="fa fa-facebook fa-2x" target="_blank" data-toggle="tooltip" data-placement="right" title="Facebook"></a></li>
                  <li><a style="background-color: #5a739d" href="#" class="fa fa-thumbs-o-up fa-2x" target="_blank" data-toggle="tooltip" data-placement="right" title="Facebook Like"></a></li>
                  <li><a style="background-color: #cc2127" href="#" class="fa fa-pinterest-p fa-2x" target="_blank" data-toggle="tooltip" data-placement="right" title="Pinterest"></a></li>
                  <li><a style="background-color: #00aced" href="#" class="fa fa-twitter fa-2x" target="_blank" data-toggle="tooltip" data-placement="right" title="Twitter"></a></li>
                  <li><a style="background-color: #aaaaaa" href="#" class="fa fa-envelope fa-2x" target="_blank" data-toggle="tooltip" data-placement="right" title="Email"></a></li>
                </ul>
            </aside>

            <div class="banner heading-design">
                <h1 class="text-center">THE STANDARD</h1>
            </div><br><br><br>

            <div class="container">
                <div class="col-sm-8 col-md-8 heading-design">
                    <h1>DESIGN YOUR OWN</h1>
                    <p class="page-design-p">Select your siding, trim and roof colors. See it before we build it!</p>
                </div>
                <div class="col-sm-4 col-md-4 text-right">
                    <a href="#" class="shed-btn">ORDER NOW</a>
                </div>
            </div><br><br><br>

            <div class="container">
                <div class="col-sm-5 col-md-5">
                    <div class="col-sm-12 col-md-12" style="margin-bottom: 5%">
                        <div class="" role="tab" id="heading-2">
                            <h1 class="panel-title">
                        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                          Siding Color
                        </a>
                      </h1>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse panel-body" role="tabpanel" aria-labelledby="heading-2">
                            <div ng-repeat="slidingInfo in slidingColors" class="col-sm-3 col-md-3">
                                <div class="text-center">
                                    <svg height="50" width="50">
                                <circle cx="25" cy="25" r="25" stroke="" stroke-width="0" fill="{{slidingInfo.color}}"/>
                              </svg>
                                    <p>{{slidingInfo.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12" style="margin-bottom: 5%">
                        <div class="" role="tab" id="heading-2">
                            <h1 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                    Trim Color
                                </a>
                            </h1>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse panel-body" role="tabpanel" aria-labelledby="heading-2">
                            <div ng-repeat="slidingInfo in slidingColors" class="col-sm-3 col-md-3">
                                <div class="text-center">
                                    <svg height="50" width="50">
                                  <circle cx="25" cy="25" r="25" stroke="" stroke-width="0" fill="{{slidingInfo.color}}"/>
                                </svg>
                                    <p>{{slidingInfo.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="" role="tab" id="">
                            <h1 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                    Roof Color
                                </a>
                            </h1>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse panel-body" role="tabpanel" aria-labelledby="">
                            <div ng-repeat="slidingInfo in slidingColors" class="col-sm-3 col-md-3">
                                <div class="text-center">
                                    <svg height="50" width="50">
                                  <circle cx="25" cy="25" r="25" stroke="" stroke-width="0" fill="{{slidingInfo.color}}"/>
                                </svg>
                                    <p>{{slidingInfo.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7">
                    <img src="./img/h2.jpg" width="725" height="auto"></img>
                    <p class="page-design-p" style="margin-top:3%">Pictured 10*12</p>
                </div>
            </div><br><br><br>

            <div class="container">
                <div class="" role="tab" id="heading-2">
                    <h1 class="body-panel-title">
                          <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                              ADDITIONAL ROOF OPTIONS
                          </a>
                      </h1>
                    <hr>
                </div>

                <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="">
                        <div class="col-sm-2 col-md-2 body-panel-left">Metal Roof Colors</div>
                        <div class="col-sm-2 col-md-2" ng-repeat="metalRoofInfo in metalRoofColors">
                            <div class="text-center">
                                <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="" stroke-width="0" fill="{{metalRoofInfo.color}}"/>
                          </svg>
                                <p>{{metalRoofInfo.name}}</p>
                            </div>
                        </div>
                    </div>
                    <span data-toggle="collapse" href="#collapse-4"></span>
                </div>

                <div class="" role="tab" id="heading-2">
                    <h1 class="body-panel-title">
                          <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                              FLOORPLANS
                          </a>
                      </h1>
                    <hr>
                </div>

                <div id="collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="">
                        <div class="col-sm-2 col-md-2 body-panel-left">What Fits in my Shed?</div>
                        <div class="col-sm-2 col-md-2" ng-repeat="floorPlanInfo in floorPlans">
                            <div class="text-center">
                                <img style="border: 1px solid #9d9d9d" height="120" width="100" src="{{floorPlanInfo.img}}"></img>
                                <p>{{floorPlanInfo.name}}</p>
                            </div>
                        </div>
                    </div>
                    <span data-toggle="collapse" href="#collapse-4"></span>
                </div>

            </div><br><br><br>

            <div class="container text-center heading-design">
                <h1>PRICE CALCULATOR</h1><br>

                <form class="price-calculator">
                    <select>
                    <option hidden>Select Size:</option>
                    <option value="ca">8*10</option>
                    <option value="usa">8*12</option>
                    <option value="ca">8*10</option>
                    <option value="usa">8*12</option>
                    <option value="ca">8*10</option>
                    <option value="usa">8*12</option>
                  </select>
                    <input type="text" value="ZIP CODE">
                </form><br>
                <p class="text-muted">Which size is right for me?</p>
                <a href="#" class="shed-btn" style="padding: 1% 2%;">VIEW PRICING</a><br><br>
                <p>
                    Overall building dimensions are approximate and may vary slightly. Building <br> heights are measured ground to peak and widths are measured eave to eave.
                </p>
            </div><br><br><br>
            <div class="container">
                <div class="col-sm-5 col-md-5 heading-design">
                    <h1>SPECIAL FEATURES</h1>
                    <ul style="list-style-type:disc" class="page-design-p">
                        <li>The Standard is perfect if you need a storage shed to protect your valuables, but you want to stay on a budget. The 4' side walls mean this shed fits into smaller spaces. The dual pitch of the roof allows for plenty of headroom
                            despite the smaller profile of the building.
                        </li><br>
                        <li>The Standard is the traditional 'mini-barn' storage shed. Sanford Lapp started building these in 1983, and we've never stopped. Our customers tell us they love the combination of classic good looks, affordable price and versatility
                            of the Standard storage shed.
                        </li><br>
                        <li>Sizes Available: 8x8 to 12x40</li>
                    </ul>
                </div>
                <div class="col-sm-1 col-md-1"></div>

                <div class="col-sm-6 col-md-6"><img src="./img/h3.jpg" width="550" height="auto"></img>
                </div>
            </div><br><br><br>
            <div class="container heading-design">
                <h1 class="text-center">QUESTIONS AND ANSWERS</h1>
                <hr>
            </div>
            <footer class="footer-table">
                <table class="table-responsive">
                    <tr class="row t1row">
                        <td class="col-md-4 ">INSIDEMAPS</td>
                        <td class="col-md-3 text-center"><i class="fa fa-phone"></i> &nbsp;CALL US AT 415-INSIDEMAPS</td>
                        <td class="col-md-5 "><i class="fa fa-comment"></i> &nbsp;CHAT WITH AN EXPERT</td>
                    </tr>
                </table>
                <table class="table-responsive">
                    <tr class="row t2row">
                        <td class="row col-md-8">
                          <div class="col-md-2 col-sm-2"></div>
                          <div class="col-md-4 col-sm-4" style="padding:5% 0 5% 10%">
                            <h4>JOIN US</h4>
                            <p>Get up to date pricing, new designs, and advice about purchasing an outdoor structure that only Woodtex can provide.</p>
                          </div>
                          <div class="col-md-6 col-sm-6 text-right" style="padding-top: 3%">
                            <form class="join-us">
                              <input type="text" placeholder="First Name"><br>
                              <input type="text" placeholder="Last Name"><br>
                              <input type="text" placeholder="Email">
                              <a href="#" class="join-us-btn" style="">SUBSCRIBE</a>
                            </form>
                          </div>
                        </td>
                        <td class="col-md-4">
                          <h4 style="margin-top: -12%;">CONNECT</h4>
                          <span><i href="#" class="fa fa-twitter fa-3x" target="_blank"></i> <i href="#" class="fa fa-facebook fa-3x" target="_blank"></i> <i href="#" class="fa fa-youtube fa-3x" target="_blank"></i> <i href="#" class="fa fa-pinterest fa-3x" target="_blank"></i></span>
                        </td>
                    </tr>
                </table>
                <table class="table-responsive">
                    <tr class="row t2row">
                        <td class="col-md-12">
                          <div class="col-md-2 col-sm-2"></div>
                          <div class="col-md-4 col-sm-7" style="padding:5% 0 5% 1%">
                            <h4>LOCATIONS</h4>
                            <p>InsideMaps is the nationwide manufacturer and retailer of Storage Sheds, Garages, and Cabins. Find a Woodtex Sales Center or Retail Partner near you.</p>
                          </div>
                          <div class="col-md-3 col-sm-3">
                            <form class="join-us" style="padding: 25% 0">
                            <input type="text" style="width: 45%" placeholder="Zip Code">
                            <a href="#" class="join-us-btn" style="width: 45%">FIND A SALES CENTER</a>
                          </form>
                          </div>
                        </td>
                    </tr>
                </table>
                <table class="table-responsive">
                    <tr class="row">
                        <td class="col-md-12 text-center foo-footer">COPYRIGHT &copy; 2012-2017 InsideMaps Inc. <a style="cursor: pointer; text-decoration: none" href="#"><u>PRIVACY POLICY</u></a></td>
                    </tr>
                </table>
            </footer>

              <ul id="floating-email">
                <li>
                  <a style="background-color: #ebc047;" href="#" class="fa fa-envelope fa-3x"></a>
                </li>
              </ul>
            <script>
                //JQ Code

                // http://jsfiddle.net/hungerpain/eK8X5/7/
                // https://codepen.io/yoeri/pen/eZMqbO
                // http://jsfiddle.net/1crd75rs/
                // https://jsfiddle.net/glebkema/1wx4ubvc/
                // https://codepen.io/chrisgosling/pen/nmaIb

                // https://codepen.io/BuiltBySam/pen/merjWp -topnav

                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
        </div>
    </div>
</body>
</html>
