html, body {
    width: 100%;
    height: 100%;
}

.home-detail-table table>tbody>tr>td, .report-detail-table table>tbody>tr>td{
  border-top: 1px solid transparent;
}

.report-detail-table table>tbody>tr>td{
  padding: 0;
}

.home-detail-table table>tbody+tbody, .report-detail-table table>tbody+tbody {
  border-top: 2px solid transparent;
  border-top: 1px solid transparent;
}

.room-total-row {
  font-weight: bold;
}

.home-detail-table table>tfoot>tr>td{
  border-top: 2px solid #000;
}

.body-panel-title>a {
    font-family: serif;
    display: block;
    position: relative;
    text-decoration: none;
    color: #142d45;
}

.body-panel-title>a:after {
    margin: -2% 1% 0 0;
    /*margin-top: -15px 15px 0 0;*/
    color: #658aa1;
    font-size: 86px;
    /*content: "\2295"; /* fa-chevron-down */
    content: "\2297"; /* fa-chevron-up */
    position: absolute;
    right: 0;
}

.body-panel-title>a[aria-expanded="true"]:after {
    margin: -2% 1% 0 0;
    /*margin-top: -15px 15px 0 0;*/
    color: #658aa1;
    font-size: 86px;
    content: "\2297"; /* fa-chevron-up */
}
.body-panel-title>a:after {
    transition: 1s;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .body-panel-title>a[aria-expanded="true"]:after{
    transition: 1s;
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

/*.double-border {
  background-color: #ccc;
  border: 4px solid #fff;
  padding: 2em;
  width: 16em;
  height: 16em;
  position: relative;
  margin: 0 auto;
}
.double-border:before {
  background: none;
  border: 4px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}*/
