html, body {
    width: 100%;
    height: 100%;
}

.header-logo {
    text-align: center;
}

.header-social-search, .header-social-search th, .header-social-search td {
    border: 7px solid #e9e9e9;
    border-collapse: collapse;
}

.header-social-search td:first-child {
    text-align: center;
    padding: 5px 10px;
}

.header-social-search td:first-child a>i {
    padding: 20px 25px;
    color: #cacaca;
}

.header-social-search td:first-child a>i:hover {
    text-decoration: none;
    color: #869cae;
}

.header-social-search span {
    color: #d5a942;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}

.header-social-search p {
    color: #cacaca;
    margin-left: 1%;
    display: inline;
    font-size: 24px;
    padding: 0 20px;
}

.header-social-search p>a {
    color: #cacaca;
    cursor: pointer;
}

.header-social-search p>a:hover {
    text-decoration: none;
    color: #869cae;
}

.header-social-search input {
    border: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-social-search td>a {
    color: #414142;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

.header-social-search td>a:hover {
    text-decoration: none;
    color: #869cae;
}


/*.photo-gallery div {
    padding: 0 0 0 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 97%;
    width: 79%;
    opacity: 0.7;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5)
}

.img-gal-container:hover .overlay {
    opacity: 0;
}

.img-gal-container img {
    vertical-align: super;
}

.text {
    color: #ffffff;
    font-size: 2em;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}*/

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .glyphicon {
    font-size: 18px;
    position: absolute;
    padding: 5px 15px;
    pointer-events: none;
}


/* align icon */

.left-addon .glyphicon {
    top: 10%;
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 20%;
}

.right-addon input {
    padding-right: 30px;
}

.banner {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("./img/banner.jpg");
    text-align: center;
    color: #3b4d64;
    padding: 35px 0;
}


/*.sheds-text {
    text-align: center;
    color: #23272c;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.125em;
    line-height: 1.6875;
}

.sheds-style {
    font-size: 28px;
    font-weight: bold;
    color: #3b4d64;
    border-bottom: #d3d2d2 solid 1px;
    margin: 42px 0;
    padding-bottom: 24px;
    text-align: center;
}

.req-brochure {
    margin-left: 40%;
    width: 35%;
    border: 7px solid #e9e9e9;
    color: #3b4d64;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.req-brochure a {
    text-decoration: none;
    color: #3b4d64;
}*/

 .heading-design h1{
   color: #3b4d64;
   font-family: 'Roboto Condensed', sans-serif;
 }

 .page-design-p{
   font-size: large;
   color: #23272c;
   font-family: 'Open Sans', sans-serif;
 }

  .panel-body {
    border-right: 7px solid #e9e9e9;
    border-left: 7px solid #e9e9e9;
    border-bottom: 7px solid #e9e9e9;
  }

  .panel-title > a {
    border: 7px solid #e9e9e9;
    padding: 6% 0 6% 3%;
     font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    display: block;
    position: relative;
    text-decoration: none;
    color: #757575;
  }
  .panel-title > a:after {
    margin: -3% 4% 0 0;
    color: #658aa1;
    font-weight: lighter;
    font-size: 36px;
    content: "\2295"; /* fa-chevron-down */
    /*font-family: 'FontAwesome';*/
    position: absolute;
    right: 0;
  }
  .panel-title > a[aria-expanded="true"]:after {
    margin: -3% 4% 0 0;
    color: #658aa1;
    font-weight:  lighter;
    font-size: 36px;
    content: "\2297"; /* fa-chevron-up */
  }

  .ques-ans h1{
    color: #3b4d64;
    font-family: serif;
    text-transform: uppercase;
  }

.price-calculator input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.price-calculator input[type=text]:focus {
    border: 1px solid #555;
}

.price-calculator select {
    width: 20%;
    padding: 12px 20px;
    background: #fff;
    /*border: none;
    border-radius: 4px;*/
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.shed-btn {
    background-color: #ebc047;
    border: none;
    color: #ffffff;
    padding: 4% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.shed-btn:hover{
  background-color: #d5a929;
  text-decoration: none;
  color: #ffffff;

}

.footer-table table {
    width: 100%;
    background: #444444;
}

.footer-table table, .footer-table th, .footer-table td {
    border: 1px solid #e9e9e9;
    border-collapse: collapse;
}


/* entypo */

@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 375px;
}

#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 45px;
    font: 20px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 45px;
}

#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align: center;
    width: 120px;
}

#sticky-social a:hover span {
    left: 100%;
}

#sticky-social a[class*="facebook"],
/*#sticky-social a[class*="facebook"]:hover,*/

#sticky-social a[class*="facebook"] span {
    background: #3b5998;
    text-decoration: none;
}

#sticky-social a[class*="thumbs-up"],
/*#sticky-social a[class*="facebook"]:hover,*/

#sticky-social a[class*="thumbs-up"] span {
    background: #5a739d;
    text-decoration: none;
}

#sticky-social a[class*="twitter"],
/*#sticky-social a[class*="twitter"]:hover,*/

#sticky-social a[class*="twitter"] span {
    background: #00aced;
    text-decoration: none;
}

#sticky-social a[class*="pinterest"],
/*#sticky-social a[class*="pinterest"]:hover,*/

#sticky-social a[class*="pinterest"] span {
    background: #cc2127;
    text-decoration: none;
}

#sticky-social a[class*="mail"],
/*#sticky-social a[class*="mail"]:hover,*/

#sticky-social a[class*="mail"] span {
    background: #aaaaaa;
    text-decoration: none;
}
